.main{
    height:40rem;
    width: 700px;
}
.main-top{
    height:500px;
    display: flex;
    width: 535px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.main-topleft{
    height: 550px;
    width:40%;
    display: flex;
    flex-direction: column;
    

}
.main-topright{
    height:600px;
    width: 60%;

}
